.svn
hg
mtt/tmp
mtt/vis
webstats
nightly/*/*.txt
nightly/*/*.tar.bz2
nightly/*/*.tar.gz
software/*/nightly/v*/*.txt
software/*/nightly/v*/*.tar.bz2
software/*/nightly/v*/*.tar.gz
software/*/nightly/master/*.txt
software/*/nightly/master/*.tar.bz2
software/*/nightly/master/*.tar.gz
recaptacha
pmix-recaptcha
pmix-recaptcha-keys.php
