## You should disable Indexes and MultiViews either here or in the
## global config. Symlinks maybe needed for URL rewriting.
Options -Indexes -MultiViews +FollowSymLinks

## make sure nobody gets the htaccess files
<Files ~ "^[\._]ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

## make sure no one gets to the .git dir
<Files ~ "^\.git">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

## Anyone remember what this was from?
Deny from 180.211.180.14

## Comment these rules in if you want to have nice URLs using
## $conf['rewrite'] = 1 - not needed for rewrite mode 2
<IfModule mod_rewrite.c>
RewriteEngine on

## Redirect everyone to www.open-mpi.org (vs. open-mpi.org)
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# These probably aren't necessary any more
RewriteRule ^MailArchives/(.*)$  /community/lists/$1 [L,R=301]
RewriteRule ^(.+)(\.php|\.html)/$  /$1$2 [R=301,L]
</IfModule>
