## You should disable Indexes and MultiViews either here or in the
## global config. Symlinks maybe needed for URL rewriting.
Options -Indexes -MultiViews +FollowSymLinks

## We likes our Tumblebeasts
ErrorDocument 404 /404.php

## make sure nobody gets the htaccess files
<Files ~ "^[\._]ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

## make sure no one gets to the .git dir
RedirectMatch 404 /\.git

## Anyone remember what this was from?
Deny from 180.211.180.14

## Comment these rules in if you want to have nice URLs using
## $conf['rewrite'] = 1 - not needed for rewrite mode 2
<IfModule mod_rewrite.c>
RewriteEngine on

## Redirect everyone to https://www.open-mpi.org (vs. open-mpi.org)
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

## Redirect everyone from http:// to https://
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

## These probably aren't necessary any more
RewriteRule ^MailArchives/(.*)$  /community/lists/$1 [L,R=301]
RewriteRule ^(.+)(\.php|\.html)/$  /$1$2 [R=301,L]
</IfModule>
