## Enable this to restrict editing to logged in users only

# dikim enables Indexes accroding to the Jeff's request on June 22,
# 2010.
Options +Indexes

## make sure nobody gets the htaccess files
<Files ~ "^[\._]ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

